#search_wrap,.dc_logo{display: none;}
.dchead{height:6px;}
.gnb_bar{display:none;}
.listwrap .issuebox .concept_wrap{display:none;}
.right_content{display:none;}
body .list_wrap, body .view_wrap{min-width:840px;}
body .wrap_inner{width:840px;}
.width1160 .dchead, .width1160 .gnb, .width1160 #container, .width1160 .info_policy, .width1160 .copyright {
    width: 840px;
}
.visit_list {width: 680px;}
.visit_list li a {width: 107px;}
.dc_all{display:none;}
.cmt_txt_cont textarea{width: 634px;}
.cmt_write_box.small .cmt_txt_cont textarea{width: 602px;}
#write_wrap { padding: 0; border: none; }
.visit_history{width: 814px;}